<form id="{{id}}" class="{{customClasses}}" method="{{method}}" action="{{action}}">
    {{#each formGroups}}
        <div class="form__group {{customClasses}}">
            {{{content}}}
        </div>
    {{/each}}
    <div class="fd_invalid"></div>
</form>
