<div class="panel panel_primary {{customPanelClass}}" id="{{id}}">
    <div class="panel__header">
        {{{header}}}
    </div>
    <div class="panel__body {{customClass}}">
        {{{body}}}
    </div>
    <div class="panel__footer">
        {{{footer}}}
    </div>
</div>
