<div class="msg-container {{containerClass}}" id="{{id}}">
    <div>
        <div class="msg-container__messages {{msgClass}}">
            <p class="msg-container__messages__text">{{msgText}}</p>
            <time class="msg-container__messages__time" datetime="{{datetime}}">{{nickname}} {{time}}</time>
        </div>
    </div>
    <div class="msg-container__avatar">
        <img src="{{avatarUrl}}">
    </div>
</div>
