<div class="msg-container {{containerClass}}" id="{{id}}">
    <div>
        <div class="msg-container__messages {{msgClass}}">
            <p>{{msgText}}</p>
            <time datetime="{{datetime}}">{{nickname}} {{time}}</time>
        </div>
    </div>
    <div class="msg__avatar">
        <img src="{{avatarUrl}}">
    </div>
</div>
