<input type="{{type}}"
       id="{{id}}"
       class="form__control {{customClasses}}"
       placeholder="{{placeholder}}"
       name="{{name}}"
       value="{{value}}"
>
<span class="fd_invalid">{{fdInvalid}}</span>
