<div class="avatar justify-content-center align-items-center {{customClasses}}">
    <img src="{{ avatarPath }}" id="{{id}}" alt="avatar" class="avatar__upload-icon">
    {{#if isEditable}}
        <div class="avatar__choose-photo">
            {{{customImgInput}}}
        </div>
    {{/if}}
</div>

{{#if isEditable}}
    <div class="avatar__edit-photo justify-content-center align-items-center hidden" hidden>
        <div class="{{customClasses}} h100 w100">
            <canvas id="avatarCanvas" class="w100 h100"></canvas>
        </div>
        {{{buttons}}}
    </div>
{{/if}}
