<table class="table table_primary">
    <tr>
        <th class="table__number">№</th>
        <th>Игрок</th>
        <th>Победы</th>
        <th>Поражения</th>
        <th>Время в игре</th>
    </tr>
    {{#each players}}
        <tr>
            <td>{{number}}</td>
            <td>
                <div class="container__align-items-center">
                    <div class="table_new__avatar-block">
                        <img class="table_new__avatar" src="{{avatarUrl}}" alt="avt">
                    </div>
                    {{name}}
                </div>
            </td>
            <td>{{win}}</td>
            <td>{{lost}}</td>
            <td>{{playingTime}}</td>
        </tr>
    {{/each}}
</table>
