<table class="table table_primary" id="scoreboard">
    <tr>
        <th class="table__number">№</th>
        <th>Игрок</th>
        <th>Рейтинг</th>
        <th>Процент побед</th>
        <th>Всего матчей</th>
    </tr>
    {{#each players}}
        <tr>
            <td>{{number}}</td>
            <td>
                <div class="container align-items-center">
                    <div class="table__avatar-block">
                        <img class="table__avatar-block__img" src="{{avatarPath}}" alt="avt">
                    </div>
                    {{nickname}}
                </div>
            </td>
            <td>{{rating}}</td>
            <td>{{winRate}}</td>
            <td>{{matches}}</td>
        </tr>
    {{/each}}
</table>
