<div class="custom-file {{customClasses}}">
    {{#with input}}
        <input type="file"
               accept="{{accept}}"
               class="custom-file__input {{customClasses}}"
               name="{{name}}"
               form="{{form}}"
        >
    {{/with}}
    {{#with label}}
        <label class="custom-file__label {{customClasses}}">
            <i class="material-icons md-36">{{icon}}</i>
        </label>
    {{/with}}
</div>
